target/**
.cargo
!target/package/
!target/package/**/
!target/package/target/
!target/package/target/**/
!target/package/target/scarb/
!target/package/target/scarb/**/
!target/package/**/target/scarb/cairo-plugin/
!target/package/**/target/scarb/cairo-plugin/**
